@model OrganizationM
<script type="text/javascript">
	function addRow(id){
		var tbody = document.getElementById(id).getElementsByTagName("tbody")[0];
		var row = document.createElement("tr")

		var td1 = document.createElement("td")
		var input1 = document.createElement("input")
		input1.setAttribute("asp-for", "NumberPP1")
		td1.appendChild(input1)

		var td2 = document.createElement("td")
		var input2 = document.createElement("input")
		input2.setAttribute("asp-for", "Cod2")
		td2.appendChild(input2)

		var td3 = document.createElement("td")
		var input3 = document.createElement("input")
		input3.setAttribute("asp-for", "Date3")
		input3.setAttribute("type", "date")
		td3.appendChild(input3)

		var td4= document.createElement("td")
		var input4 = document.createElement("input")
		input4.setAttribute("asp-for", "NumberPassport4")
		td4.appendChild(input4)

		var td5 = document.createElement("td")
		var input5 = document.createElement("input")
		input5.setAttribute("asp-for", "Type5")
		td5.appendChild(input5)

		var td6 = document.createElement("td")
		var input6 = document.createElement("input")
		input6.setAttribute("asp-for", "Radionuclid6")
		td6.appendChild(input6)

		var td7 = document.createElement("td")
		var input7 = document.createElement("input")
		input7.setAttribute("asp-for", "Number7")
		td7.appendChild(input7)

		var td8 = document.createElement("td")
		var input8 = document.createElement("input")
		input8.setAttribute("asp-for", "Kol8")
		td8.appendChild(input8)

		var td9 = document.createElement("td")
		var input9 = document.createElement("input")
		input9.setAttribute("asp-for", "SumActiv9")
		td9.appendChild(input9)

		var td10 = document.createElement("td")
		var input10 = document.createElement("input")
		input10.setAttribute("asp-for", "CodOKPO10")
		td10.appendChild(input10)

		var td11 = document.createElement("td")
		var input11 = document.createElement("input")
		input11.setAttribute("type", "date")
		input11.setAttribute("asp-for", "Date11")
		td11.appendChild(input11)

		var td12 = document.createElement("td")
		var input12 = document.createElement("input")
		input12.setAttribute("asp-for", "Category12")
		td12.appendChild(input12)

		var td13 = document.createElement("td")
		var input13 = document.createElement("input")
		input13.setAttribute("asp-for", "NSS13")
		td13.appendChild(input13)

		var td14 = document.createElement("td")
		var input14 = document.createElement("input")
		input14.setAttribute("asp-for", "Cod14")
		td14.appendChild(input14)

		var td15 = document.createElement("td")
		var input15 = document.createElement("input")
		input15.setAttribute("asp-for", "CodOKPO15")
		td15.appendChild(input15)

		var td16 = document.createElement("td")
		var input16 = document.createElement("input")
		input16.setAttribute("asp-for", "Vid16")
		td16.appendChild(input16)

		var td17 = document.createElement("td")
		var input17 = document.createElement("input")
		input17.setAttribute("asp-for", "Number17")
		td17.appendChild(input17)

		var td18 = document.createElement("td")
		var input18 = document.createElement("input")
		input18.setAttribute("type", "date")
		input18.setAttribute("asp-for", "Date18")
		td18.appendChild(input18)

		var td19 = document.createElement("td")
		var input19 = document.createElement("input")
		input19.setAttribute("asp-for", "CodPos19")
		td19.appendChild(input19)

		var td20 = document.createElement("td")
		var input20 = document.createElement("input")
		input20.setAttribute("asp-for", "CodPer20")
		td20.appendChild(input20)

		var td21= document.createElement("td")
		var input21 = document.createElement("input")
		input21.setAttribute("asp-for", "Name21")
		td21.appendChild(input21)

		var td22 = document.createElement("td")
		var input22 = document.createElement("input")
		input22.setAttribute("asp-for", "Type22")
		td22.appendChild(input22)

		var td23 = document.createElement("td")
		var input23 = document.createElement("input")
		input23.setAttribute("asp-for", "Number23")
		td23.appendChild(input23)

		row.appendChild(td1);
		row.appendChild(td2);
		row.appendChild(td3);
		row.appendChild(td4);
		row.appendChild(td5);
		row.appendChild(td6);
		row.appendChild(td7);
		row.appendChild(td8);
		row.appendChild(td9);
		row.appendChild(td10);
		row.appendChild(td11);
		row.appendChild(td12);
		row.appendChild(td13);
		row.appendChild(td14);
		row.appendChild(td15);
		row.appendChild(td16);
		row.appendChild(td17);
		row.appendChild(td18);
		row.appendChild(td19);
		row.appendChild(td20);
		row.appendChild(td21);
		row.appendChild(td22);
		row.appendChild(td23);
		tbody.appendChild(row);
	  }
</script>
<form method="post">
        <div class="row pb-2">
            <h2 class="text-primary">Форма 1.1 Сведения о ЗРИ</h2>
            <hr />
        </div>
		<p>
			<a href="javascript://" onclick="addRow('myTable');return false;">Добавить строку</a>
		</p>
		<a asp-controller="AllForms" asp-action="CreateF" asp-route-obj="@Model" asp-route-formN = "1.1" asp-route-ID="@Model.Id" class="btn btn-secondary" style="width:150px">
            Добавить строку
        </a>
        <table id="myTable" class="table1">
			<thead>
				<tr>
					<td></td>
					<td colspan="2">Сведения об операции</td>
					<td colspan="10">Сведения из паспорта (сертификата) на закрытый радионуклидный источник</td>
					<td colspan="2">Права собственности на ЗРИ</td>
					<td colspan="3">Документ</td>
					<td colspan="2">Код ОКПО</td>
					<td colspan="3">Прибор (установка), УКТ или иная упаковка</td>
				</tr>
				<tr>
					<td>№ п/п</td>
					<td>код</td>
					<td>дата</td>
					<td>номер паспорта (сертификата)</td>
					<td>тип</td>
					<td>радионуклиды</td>
					<td>номер</td>
					<td>количество, шт</td>
					<td>суммарная активность, Бк</td>
					<td>код ОКПО изготовителя</td>
					<td>дата выпуска</td>
					<td>категория</td>
					<td>НСС, мес</td>
					<td>код формы собственности</td>
					<td>код ОКПО правообладателя</td>
					<td>вид</td>
					<td>номер</td>
					<td>дата</td>
					<td>поставщика или получателя</td>
					<td>перевозчика</td>
					<td>наименование</td>
					<td>тип</td>
					<td>номер</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>14</td>
					<td>15</td>
					<td>16</td>
					<td>17</td>
					<td>18</td>
					<td>19</td>
					<td>20</td>
					<td>21</td>
					<td>22</td>
					<td>23</td>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
        
        <button type="submit" class="btn btn-primary" style="width:150px">Добавить форму</button>
        <a asp-controller="Form10" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Вернуться к списку
        </a>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
